[submodule "packages/foundry/lib/forge-std"]
	path = packages/foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/foundry/lib/openzeppelin-contracts"]
	path = packages/foundry/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "packages/foundry/lib/solidity-bytes-utils"]
	path = packages/foundry/lib/solidity-bytes-utils
	url = https://github.com/gnsps/solidity-bytes-utils
[submodule "packages/foundry/lib/OAO"]
	path = packages/foundry/lib/OAO
	url = git@github.com:ora-io/OAO.git
[submodule "packages/foundry/lib/oao"]
	path = packages/foundry/lib/oao
	url = https://github.com/ora-io/oao
